[submodule "cppgit2"]
	path = extern/cppgit2
	url = https://github.com/p-ranav/cppgit2.git
[submodule "extern/git"]
	path = extern/git
	url = https://github.com/git/git.git
[submodule "extern/sleuthkit"]
	path = extern/sleuthkit
	url = https://github.com/sleuthkit/sleuthkit.git
